.App {  
  background-color: #d4d3d3;
  padding: 20px;
}

.input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 50%;
  background-color: #4e80cc;
  color: white;
  padding: 14px 20px;
  margin: 8px auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
}

button:hover {
  background-color: #4f59d8;
}

.form {
  width: 60%;
  margin: 2rem auto;
  border-radius: 5px;
  background-color: #a09c9c;
  padding: 20px;
}
.header {
  text-align: center;
}